<!-- USING JINJA TEMPLATE BY MAKING BLOCKS ADD FOOTER AND HEADER TO EACH PAGE
IN THIS PAGE WRITE THE CODE FOR HEADER AND FOOTER AND THEN INHERIT IN EACH OF THEM
--><header>
    <head>
        <style>
        .nav_bar_test{
        opacity: 0.9;
    background-color: black;
    }
    
        </style>
      </head>
     <nav  class="navbar nav_bar_test fixed-top" style="font-family: 'Cormorant', serif;">
            <a class="navbar-brand" href="#" style="font-size: 30px; color: #86C232 ;">
              <img src="{{ url_for('static',filename='img/logo.png') }}"width="50" height="50" class="d-inline-block align-top" alt="">
       <b>OneStepAway</b>
      </a>
       <ul class="nav justify-content-end">
    
      <ul class="nav nav-pills">
          {% if 'username' not in session %}
      <li class="nav-item">
       <a class="nav-link" href="{{ url_for('home') }}" style="color: #86C232 ; font-size: 20px">Home</a>
      </li>
     <li class="nav-item">
      <a class="nav-link" href="#whyus" style="color: #86C232 ; font-size: 20px">Why us?</a>
      </li>
       <li class="nav-item">
       <a class="nav-link" href="{{ url_for('login') }}" style="color: #86C232 ; font-size: 20px">Login</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="{{ url_for('register') }}" style="color: #86C232 ; font-size: 20px">Register</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#contact" style="color:#86C232; font-size: 20px">Contact</a>
      </li>
      {% else %}
      <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main') }}" style="color: #86C232 ; font-size: 20px">Search Services</a>
           </li>
      <li class="nav-item">
            <a class="nav-link" style="color:#86C232; font-size: 20px"> Welcome {{name}} </a>
         </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #86C232 ; font-size: 20px">Profile</a>
        <div class="dropdown-menu">
           <i><a class="dropdown-item" href="{{ url_for('profile') }}" >My Profile</a></i>
           <!--<i><a class="dropdown-item" href="#">History</a></i>
           <i><a class="dropdown-item" href="#">Settings</a></i>-->
          <div class="dropdown-divider"></div>
           <i><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></i>
        </div>
      
      </li>
      {% endif %}
      
    </ul>
    </ul>
    
    </nav>
    </header>

    {% block body %}
      
    {% endblock %}
    
    <footer>
      <p style="color:aliceblue">© Copyright OneStepAway. All Rights Reserved</p>
    </footer>