<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style2.css') }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
        {% extends "layout.html" %}
        {% block body %}
            <section>
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
            <section class="search-sec">
                <div class="container">
                    <form action="#" method="post" novalidate="novalidate">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control search-slt" id="exampleFormControlSelect1">
                                            <option>Select Vehicle</option>
                                            <option>Example one</option>
                                            <option>Example one</option>
                                            <option>Example one</option>
                                            <option>Example one</option>
                                            <option>Example one</option>
                                            <option>Example one</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <button type="button" class="btn btn-danger wrn-btn">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                    <br>
                    <div class="container">

                            <hgroup class="mb20">
                                <h1>Search Results</h1>
                                <h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>								
                            </hgroup>
                        
                            <section class="col-xs-12 col-sm-6 col-md-12">
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" /></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                        <ul class="meta-search">
                                            <li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
                                            <li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
                                            <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                        <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                                        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                        
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/food" alt="Lorem ipsum" /></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                        <ul class="meta-search">
                                            <li><i class="glyphicon glyphicon-calendar"></i> <span>02/13/2014</span></li>
                                            <li><i class="glyphicon glyphicon-time"></i> <span>8:32 pm</span></li>
                                            <li><i class="glyphicon glyphicon-tags"></i> <span>Food</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7">
                                        <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                                        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                        
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="Lorem ipsum" /></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                        <ul class="meta-search">
                                            <li><i class="glyphicon glyphicon-calendar"></i> <span>01/11/2014</span></li>
                                            <li><i class="glyphicon glyphicon-time"></i> <span>10:13 am</span></li>
                                            <li><i class="glyphicon glyphicon-tags"></i> <span>Sport</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7">
                                        <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>						
                                        <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
                                    </div>
                                    <span class="clearfix border"></span>
                                </article>			
                        
                            </section>
                        </div>




    {% endblock %}
</body>
</html>