<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_1c88299f9c8d4841bb7f920835782574 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_1c88299f9c8d4841bb7f920835782574" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_1c88299f9c8d4841bb7f920835782574 = L.map(
        'map_1c88299f9c8d4841bb7f920835782574', {
        center: [22.750732, 75.924866],
        zoom: 30,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_d4a1718aae9f4615b129993f64d23722 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_1c88299f9c8d4841bb7f920835782574);
    
        var marker_9fd70c7feb37495182463481f01f161d = L.marker(
            [22.750732, 75.924866],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_1c88299f9c8d4841bb7f920835782574);
        
    
            var popup_9f4b37c42f1e431582e37a970219c1de = L.popup({maxWidth: '100%'
            
            });

            
                var html_fe9dd0e3cf774ea49ebac5840425ba44 = $(`<div id="html_fe9dd0e3cf774ea49ebac5840425ba44" style="width: 100.0%; height: 100.0%;">This is location</div>`)[0];
                popup_9f4b37c42f1e431582e37a970219c1de.setContent(html_fe9dd0e3cf774ea49ebac5840425ba44);
            

            marker_9fd70c7feb37495182463481f01f161d.bindPopup(popup_9f4b37c42f1e431582e37a970219c1de)
            ;

            
        
</script>