<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
    $(document).ready(function(){
    // Call Geo Complete
    $("#address").geocomplete({details:"form#property"});
                                });

    </script>
    <style>
        @import "compass/css3";



.register{
    background-image: url(" {{ url_for('static',filename='img/registerb.jpg') }}");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /*: -webkit-linear-gradient(yellowgreen, yellowgreen);*/
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    margin-top: 5%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
 
    font-weight: bold;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: white;
    color: black;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: black;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: black;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: black;
    border: 2px solid springgreen
    ;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;}

    @media (min-width: 1200px) {
        .navbar {
        background:transparent;
        height: 50px;
        }
    .tales {
            width: 100%;
          }
   


    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #232122;
        }
    </style>
    <title>Business Account Registration</title>
  </head>
  <body>

   {% extends "layout.html" %}
        {% block body %}
      
        <br><br>
        <h1 style="font-family: Baskerville Old Face; color: white;text-align: center;color:#86C232">Business Account!</h1> 
        <div class="container register fadeInDown animated">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-md-3 register-left">
                        
                        <h3 style="font-size: 40px ;font-family: Baskerville Old Face;"><b>Welcome</h3>
                        <p  style="font-family: Baskerville Old Face;">Register your account here !</b></p>
                        <br/>
                    </div>
                    <form action="/registerb" id="property" method="POST" enctype="multipart/form-data" style="font-family: Baskerville Old Face; font-size: 18px">
                        <div class="tab-content " id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                               
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Your Name<input type="text" class="form-control" placeholder="Enter Name*" name="oname" />
                                        </div>
                                        <div class="form-group">
                                            Business Name <input type="text" class="form-control" placeholder=" Enter Business Name *" name="bname" />
                                        </div>
                                        <div class="form-group">
                                                    Password<input type="password" class="form-control" placeholder="Enter Password *" name="opassword" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                                        </div>
                                        <div class="form-group">
                                            Confirm Password<input type="password" class="form-control"  placeholder="Enter Confirm Password *" id="confirm_password" value="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required />
                                        </div>
                                        <span id="messages"></span><br>
                                        <script>
                                             function myFunction() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("confirm_password").value;
        if (pass1 != pass2) {
            //alert("Passwords Do not match");
            document.getElementById("messages").innerHTML="**Password do not match";
                
             }
    }
                                
                                            var myInput = document.getElementById("opassword");
                                            var letter = document.getElementById("letter");
                                            var capital = document.getElementById("capital");
                                            var number = document.getElementById("number");
                                            var length = document.getElementById("length");
                                            
                                            // When the user clicks on the password field, show the message box
                                            myInput.onfocus = function() {
                                              document.getElementById("message").style.display = "block";
                                            }
                                            
                                            // When the user clicks outside of the password field, hide the message box
                                            myInput.onblur = function() {
                                              document.getElementById("message").style.display = "none";
                                            }
                                            
                                            // When the user starts to type something inside the password field
                                            myInput.onkeyup = function() {
                                              // Validate lowercase letters
                                              var lowerCaseLetters = /[a-z]/g;
                                              if(myInput.value.match(lowerCaseLetters)) { 
                                                letter.classList.remove("invalid");
                                                letter.classList.add("valid");
                                              } else {
                                                letter.classList.remove("valid");
                                                letter.classList.add("invalid");
                                            }
                                            
                                              // Validate capital letters
                                              var upperCaseLetters = /[A-Z]/g;
                                              if(myInput.value.match(upperCaseLetters)) { 
                                                capital.classList.remove("invalid");
                                                capital.classList.add("valid");
                                              } else {
                                                capital.classList.remove("valid");
                                                capital.classList.add("invalid");
                                              }
                                            
                                              // Validate numbers
                                              var numbers = /[0-9]/g;
                                              if(myInput.value.match(numbers)) { 
                                                number.classList.remove("invalid");
                                                number.classList.add("valid");
                                              } else {
                                                number.classList.remove("valid");
                                                number.classList.add("invalid");
                                              }
                                            
                                              // Validate length
                                              if(myInput.value.length >= 8) {
                                                length.classList.remove("invalid");
                                                length.classList.add("valid");
                                              } else {
                                                length.classList.remove("valid");
                                                length.classList.add("invalid");
                                              }
                                            }
                                            function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
                                            </script>
                                            
                                        <div class="form-group">
                                            Email id<input type="email" class="form-control" placeholder="Enter Email-id *" name="oemailid" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            Phone Number<input type="text" minlength="10" maxlength="10" class="form-control input-lg" placeholder="Enter Phone no. *" name="ocontact" />
                                        </div>
                                        <div class="form-group">
                                                 Business Category:<select class="form-control" name="oservice">
                                                <option class="hidden"  >Please select your Service</option>
                                                <option>Plumber</option>
                                                <option>Technician</option>
                                                <option>Tutor</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                       
                                        <div class="form-group">
                                            Describe Your Business<textarea name="odescribe"  cols="30" required/>
                                                
                                            </textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                            Address<input type="text" class="form-control" placeholder="Enter your Address *" id="address"  name="oaddress" required/>
                                        </div>
                                        <button type="button" onclick="getLocation()">Get Location</button>

<script>
var x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}
</script>
                                        <div class="form-group">
                                                
                                            <label for="File1">Add Photo</label>
                                            <input type="file" class="form-control-file" name="file1">
                                        </div>
                                        <button type="submit" id="btnSubmit" onclick="return Validate()"  class="btnRegister"  value="Register">Register</button>
                                       
                                    </div>
                                </div>
                            </div></b>
                           
           
                        </div>
                    </form>
                    </div>
                </div>

            </div>

    {% endblock %}
  </body>
</html>