<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profilecss.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>


<div class="container">
        <div class="row">
        <h2>{{profiler.bname}}</h2>
        <table width="100%" border="0">
          <div class="col-md-9 col-md-offset-0">
            <tr><td width="77%">
            <div class="">
              <form class="form-horizontal" action="/feedback" method="POST">
              <fieldset>
        
                <!-- Name input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="name">Full Name</label>
                  <div class="col-md-9">
                    <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                  </div>
                </div>
        
                <!-- Email input-->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="email">Your E-mail</label>
                  <div class="col-md-9">
                    <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                  </div>
                </div>
        
                <!-- Message body -->
                <div class="form-group">
                  <label class="col-md-3 control-label" for="message">Your message</label>
                  <div class="col-md-9">
                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your feedback here..." rows="5"></textarea>
                  </div>
                </div>
    
    
                <!-- Rating -->
                <fieldset class="rating">
                    <legend>Please rate:</legend>
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                </fieldset>

        </td>
        <td align="center" valign="top" width="23%">
                <!-- Form actions -->
                <div class="form-group">
                  <div class="col-md-12 text-center">
                    <img src=" {{ url_for('static',filename='img/logo.png') }}" height="140px" width="270px"/><br/>
                    <br><br>
                    <button type="submit" class="btn btn-primary btn-md">Submit</button>
                    <button type="reset" class="btn btn-default btn-md">Clear</button>
                  </div>
                </div>
              </fieldset>
              </form>
            </div>
        </div>
        </td>
        </tr>
        </table>
    </div>
    
    <div class="container">
        <div class="row">
            <h2>
                Featured Testimonials</h2>
            <div class="col-md-6">
                <div class="blockquote-box clearfix">
                    <div class="square pull-left">
                        <img src="http://placehold.it/60/8e44ad/FFF&text=B" alt="" class="" />
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
                <div class="blockquote-box blockquote-primary clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-music glyphicon-lg"></span>
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante. 
                    </p>
                </div>
                <div class="blockquote-box blockquote-success clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blockquote-box blockquote-info clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-info-sign glyphicon-lg"></span>
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
                <div class="blockquote-box blockquote-warning clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-warning-sign glyphicon-lg"></span>
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
                <div class="blockquote-box blockquote-danger clearfix">
                    <div class="square pull-left">
                        <span class="glyphicon glyphicon-record glyphicon-lg"></span>
                    </div>
                    <h4>
                        John Doe</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>